# Blacklist everything
/*

# whitelist the necessary files and folders, this gets everything from inside them too
!.gitignore
!.gitmodules
!README.md
!hw_handoff/
!proj/
!repo/
!sdk/
!src/

#Digilent Added ignore rules for Vivado projects


# keep the empty folders
!**/.keep